/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* 
.header{
  background-color: black;
  color: white;
  padding:20px ;
}

nav{
  display: flex;
  gap: 50px;
  justify-content: center;
}

button{
  background-color: yellow;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */